<% content_for :angular do %>
  <%= javascript_include_tag 'markdown' %>
  <%= javascript_include_tag 'angular/controllers/test_ctrl' %>
  <%= javascript_include_tag 'angular/controllers/todo_ctrl' %>
<% end %>

<div ng-controller="TodoCtrl">

  <div class="span2">
    <markdown>
## Create a new todo
Enter a **title** and a body for your todo. Once it's complete hit the *complete* button!
    </markdown>

    <%= render 'todos/form' %>
  </div>

  <div class="span4">

    <h2>Your current todos</h2>
    <div class="todos">
      <div class="todo" ng-repeat="todo in incompleteTodos">
        <h3>{{todo.title}}</h3>
        <div ng-bind-html-unsafe="todo.content|markdown"></div>
        <button class="btn" ng-click="editTodo(todo)">Edit</button>
        <button class="btn" ng-click="completeTodo(todo, $index)">Complete!</button>
      </div>
    </div>
  </div>

  <div class="span4">
    <h2>Your completed todos</h2>
    <div class="todos">
      <div class="todo" ng-repeat="todo in completeTodos">
        <h3>{{todo.title}}</h3>
        <div ng-bind-html-unsafe="todo.content|markdown"></div>
      </div>
    </div>
  </div>

</div>
