<div class="todo-form">
  <form name="newTodoForm" ng-submit="createTodo(new_todo)">
    <input type="text" ng-model="new_todo.title">
    <br> 
    <textarea name="content" id="" ng-model="new_todo.content" rows="15"></textarea>
    <br> 
    <button class="btn">Create</button>
  </form>
</div>